@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Poppins;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background:linear-gradient(to right,rgb(243, 226, 226),rgb(247, 218, 207),lightgray),rgb(243, 226, 226);
}

nav{
    padding: 10px;
}

nav h2{
    padding: 0;
    margin: 0;
    margin-left: 46%;
}

h2::first-letter{
    font-size: 200%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: radial-gradient(white,white,gray);
}


.container{
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding:30px 15px 30px 30px;
    text-align: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 70px 4px;
}

.setting{
    padding-right:15px;
    min-width: 380px;
    font-weight: 700;
}

.input-wrap{
    align-items: flex-start;
    display: flex;
    text-align: left;
    padding-bottom: 10px;
    
}

.input-1x{
    width: 100%;
}

.input-2x{
    width: 50%;
}

label{
    width: 30%;
}

.display{
    width: 100%;
}

textarea, select, input, button{
    border: none;
    resize: none;
    font-family: Poppins;
    font-size: 1rem;
}

select, textarea{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

input[type='range']{
    accent-color: #e91e63;
}

button{
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: rgb(233, 30, 99);
}

.btn-download{
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgb(84, 83, 83);
    width: 100%;
}

h5{
    margin: 0;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
