@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Poppins;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background:linear-gradient(to right,rgb(221, 205, 205),rgb(247, 218, 207),lightgray),rgb(243, 226, 226);
}

nav{
    padding: 10px;
}

nav h2{
    padding: 0;
    margin: 0;
    margin-left: 46%;
}

h2::first-letter{
    font-size: 200%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    background: radial-gradient(white,white,gray);
}


.container{
    position: relative;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding:30px 15px 30px 30px;
    text-align: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 70px 4px;
    
}

.setting{
    padding-right:15px;
    min-width: 380px;
    font-weight: 700;
}

.input-wrap{
    align-items: flex-start;
    display: flex;
    text-align: left;
    padding-bottom: 10px;
    
}

.input-1x{
    width: 100%;
}

.input-2x{
    width: 50%;
}

label{
    width: 30%;
}

.display{
    width: 100%;
}

textarea, select, input, button{
    border: none;
    resize: none;
    font-family: Poppins;
    font-size: 1rem;
}

select, textarea{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

input[type='range']{
    accent-color: #e91e63;
}

button{
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: rgb(233, 30, 99);
}

.btn-download{
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

section{
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
}

.example {
    display: grid;
    grid-template-columns: repeat(3,1fr); /* Split the section into two columns */
    gap: 20px; /* Add some space between the columns */
    justify-content: center;
    text-align: left; /* Align text to the left in the left column */
    background: white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 70px 4px;
    margin-top: 2%;
    border-radius: 10px;
}

.example-img img,
.mars-QR img {
    max-width: 100%; /* Make the images fill their container */
    height: auto; /* Maintain the image's aspect ratio */
}

.example-img,
.mars-QR {
    text-align: center; /* Center-align the images */
}

.mars-QR{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    text-align: center;
    justify-content: center;
    margin-left: 20%;
    height: auto;
}

ul {
    padding: 5px; /* Remove default padding */
    list-style:circle;
    text-align: left; /* Align list items to the left */
    margin-left: 5%;
    line-height: 1.6;
    text-decoration: underline;
}

img {
    position: relative;
    max-width: 100%; 
    height: auto; /* Maintain the image's aspect ratio */
    right: 0;
    top: 0;
}

.custom-link {
    text-decoration: none;
    font-size: 1.2em;
    color: #4CAF50;
    font-weight: bold;
    transition: color 0.1s ease;
    border-bottom: 2px solid #4CAF50;
    padding-top: 10px;
}

.custom-link:hover {
    color: #5b805d;
    border-bottom: 2px solid #45a049;
}


footer{
    position: fixed;
    bottom: 0;
    color: white;
    background-color: rgb(84, 83, 83);
    width: 100%;
}

h3{
    text-decoration: underline;
}

h5{
    margin: 0;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 100%; /* Adjust the font size for smaller screens */
    }

    nav h2 {
        margin-left: 0; /* Center the navigation header on smaller screens */
    }

    .container {
        padding: 10px; /* Adjust the container padding for smaller screens */
        text-align: center; /* Center the content in the container */
        position: static;
        margin-top: 17%;
        display: flex;
        flex-direction: column;
    }

    .setting {
        padding-right: 0; /* Remove padding on the right for smaller screens */
    }

    .input-wrap {
        flex-direction: column; /* Stack input elements vertically on smaller screens */
        align-items: center; /* Center align input elements */
    }

    .input-1x,
    .input-2x {
        width: 50%; /* Make input fields full width on smaller screens */
        justify-content: center;
        text-align: center;
    }

    label {
        width: 100%; /* Make labels full width on smaller screens */
        text-align: center; /* Center align labels */
        margin-bottom: 5px; /* Add some space between labels */
    }

    .example {
        grid-template-columns: 1fr; /* Display examples in a single column on smaller screens */
        text-align: center; /* Center align text in examples */
        width: 100%; /* Adjust the width to make it a bit larger */
        max-width: 800px; /* Set a maximum width if needed */
        margin-bottom: 30px;
        margin-left: auto; /* Center the example section horizontally */
        margin-right: auto; /* Center the example section horizontally */
        padding: 20px; /* Add padding to increase the size inside the container */
        
    }


    .mars-QR {
        max-width: 100%; /* Make the Mars QR code image fill its container */
        margin-left: 0; /* Remove margin on the left for smaller screens */
        
    }

    ul {
        margin-left: 0; /* Remove left margin for lists on smaller screens */
    }

    img {
        max-width: 100%; /* Make images fill their container on smaller screens */

    }

    body{
        scroll-behavior: smooth;
    }
}